.type {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
}

.good {
  composes: type;
  background-color: var(--good-color);
}

.neutral {
  composes: type;
  background-color: var(--neutral-color);
}

.bad {
  composes: type;
  background-color: var(--bad-color);
}
